<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import google font via CDN-->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <Link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../static/css/jokes.css')}}" >
    <title>Chuck Norris Jokes API UI</title>
</head>
<body>
    <h1>Welcome to my grand jokes ,for those who don't know my name is panel beater
        aka mr fist chuck.
    </h1>
    <div id=jokes">
        <p>{{  value }}</p>

    </div>
    
</body>
</html>